<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Facebook POM Test Suite">
  <test  name="Facebook POM Test">
    <classes>
      <class name="com.fb.qa.testcases.LoginPageTest"/>
      <class name="com.fb.qa.testcases.HomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->